h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: coral;
}